 :root{
  --primary-colour: #000;
  --secondary-colour: #fff;
 }
 body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
 }
 .nav-items{
  background-color: var(--primary-colour);
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  align-items: center;
 }
 .nav-items a, h1{
  text-decoration: none;
  color: var(--secondary-colour);
 }
 .nav-links{
  display: flex;
  gap: 30px;
 }
 .nav-links li{
  list-style: none;
 }
.nav-links a{
  text-decoration: none;
  color: var(--secondary-colour);
}
.nav-links a:hover{
  border-bottom: 2px solid var(--secondary-colour);
}
.nav-toggle{
  display: none;
}

@media  (max-width : 768px){
  .nav-toggle{
    display: flex;
    gap: 6px;
    flex-direction: column;
    padding: 4px;
    margin: 0;
    border:  1px solid var(--secondary-colour);
    border-radius: 5px;
    cursor: pointer;
  }
  .nav-toggle.active, .bars{
    border: none;
  }
  .nav-toggle.active .bars:first-child{
     transform: rotate(-45deg) translate(-5px, 5px);
     width: 22px;
  }
  .nav-toggle.active .bars:nth-child(2){
    display: none; 
  }
  .nav-toggle.active .bars:last-child{
     transform: rotate(45deg) translate(-.5px, -.5px);
     width: 22px;
  }
  .bars{
    background-color: var(--secondary-colour);
    width: 19px;
    height: 2px;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: var(--primary-colour);
    padding: 15px;
  } 
  .nav-links.active{
    display: flex;
  }
  .nav-links li{
    margin: 0 0 1px 0;
  }
  .fade-in-down{
    animation-name: fade-in-down-animation;
    animation-duration: .5s;
 animation-timing-function: ease;
  }
  @keyframes fade-in-down-animation {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
} 
@media (max-width : 468px){
  .bars{
    width: 18px;
    height: 2px;
  }
  h1{
    font-size: 16px;
  }
  .nav-links{
    font-size: 14px;
    top: 35px;
  }
  @keyframes fade-in-down-animation {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media (max-width : 320px){
  .bars{
    width: 16px;
    height: 2px;
  }
  h1{
    font-size: 14px;
  }
  .nav-links{
    font-size: 14px;
    top: 35px;
  }
  @keyframes fade-in-down-animation {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
} 